header{
  top:0;
  z-index: 8;
  padding:0.5em 2%;
  justify-content: space-between;
  background: #ffffffbd;
  /* position:sticky; */
  box-shadow: 0 0 1.2em rgba(0,0,0,0.3);
  
  
}
.header-left .menu-icon{
  width: 1.5em;
  margin-right: 1.5em;

}
.header-left .logo{
  width: 1.5em;
  
}


.header-right .user-icon{
  width: 1.6em;
 
}
.header-right .more-icon{
  width:25px;
  margin-right: 22px;
}
.header-right .notification-icon{
  width:1.6em;
  margin-right: 1.5em;
}
/* .header-right img{
  margin-right: 22px;
} */
 .header-right .caret-icon{
  margin-right: 0.6em;
  width: 1.5em;
}
.header-right .user-icon{
  position: relative;
  cursor: pointer;
}

/* .header-right .dropdown{
  text-decoration: underline;
  position: absolute;
  display: none;
}
.user-icon :hover .dropdown{
  display:block;
} */
 
.header-profile{
  display:flex;
  align-items:center;
  position:relative;
}
.flex-div .dropdown{
  position:absolute;
  top: 100%;
  right:0;
  z-index:1;
  text-decoration:underline;
  margin-right: 2em;

  
}
.header-right .dropdown p{
  font-size:0.75em;
  cursor: pointer;
}

/* .dropdown ul{
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0.5)
}
.dropdown ul:hover text{
  color:red;
  cursor:pointer;
} */
 /* .dropdown.active{
  opacity: 1;
  visibility: visible;
  transform : translateY(0);
  transition : var(--speed) ease;
 }
 .dropdown.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
 } */
